@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

@media(min-width:768px) {
    .side-nav {
    height: 100%;
    width: 225px;
    top: 51px;
    position: fixed;
    z-index: 1;
    left: 0;
    border: none;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 40px;
}

    .side-nav>li>a {
        width: 225px;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.huge {
    font-size: 40px;
}

/* login */
.form-container{
  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: -1px 4px 20px 11px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 4px 20px 11px rgba(0,0,0,0.5);
  box-shadow: -1px 4px 20px 11px rgba(0,0,0,0.5);
  border-radius: 20px;
}
